@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.container {
  position: absolute;
  width: 700px;
  height: 500px;
  border: 2px solid #5718d4;
  
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.head{
  display: flex;
  justify-content: space-between;
}

.title {
  position: relative;
 
  color: #5718d4;
  font-weight: 800;
  padding: 10px;
  font-size: 1.8em;
  border-radius: 5px;
  /* text-align: left; */
}

.points {
  position: relative;
  font-weight: 800;
  padding: 10px;
  font-size: 1.8em;
}

.question {
  color: black;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.questionBox {
  position: relative;
  margin-top: 17px;
  padding: 15px;
  box-sizing: border-box;

}

/* .answerBtn {
  position: relative;
  padding: 10px;
  background-color:#7741e4;
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
} */


.answerBtn {
  display: inline-block;
  padding: 6px 50px;
  background-color:#7741e4;
  border: none;
  color: #ffffff;
  outline: none;
  border-radius: 25px;
  font-weight: bold;
  margin: 5px 10px;
  font-size: 12px;
}

.score-board {
 display: flex;
 margin-top: 25px;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
}

.score {
  /* position: relative; */
  text-align: center;
  font-size: 3em;
  /* margin: auto; */
}

.playBtn {
  /* position: relative; */
  font-size: 1.4em;
  padding: 15px;
  background-color: #7741e4;
  border: none;
  color: #ffffff;
  outline: none;
  border-radius: 25px;
  align-self: center;
  outline: none;
  cursor: pointer;
  
}
